<ion-header>
  <ion-navbar>
    <ion-title>Inserir Procedimentos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup" (ngSubmit)="loadCirurgia(); $event.preventDefault()">
    <ion-list radio-group formControlName="tipo">
      <ion-list-header>Tipo de Procedimento*</ion-list-header>
      <ion-item>
        <ion-label>Principal</ion-label>
        <ion-radio checked="true" value="1"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Secundário</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>
    </ion-list>
    <br/>
    <ion-list radio-group formControlName="premio">
      <ion-list-header>Prêmio do Procedimento*</ion-list-header>
      <ion-item>
        <ion-label>Pontos</ion-label>
        <ion-radio checked="true" value="1"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Valor</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label stacked>Código do procedimento*</ion-label>
      <ion-input formControlName="codigo" type="number"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls['codigo'].dirty && formGroup.controls['codigo'].errors" margin-left>O Código teve conter 8 dígitos</p>
    <br/>
    <button ion-button block type="submit" [disabled]="formGroup.invalid">Inserir mais Procedimento</button>
  </form>
  <br/>
  <button color="secondary" ion-button block type="submit" [disabled]="formGroup.invalid" >Finalizar</button>

<!--
  <ion-card class="propriedade-card" *ngIf="isTyped">
    <ion-card-title class="titulo-card" >
      <p>Código: {{ guardaResposta.codigo }}</p>
    </ion-card-title>
    <ion-card-content>
      <p><span class="tipo-item">Descrição:</span>
         <span class="item">{{ guardaResposta.descricao }}</span>
      </p>
      <p><span class="tipo-item">Pontos:</span>
         <span class="item">{{ guardaResposta.pontos }}</span>
      </p>
      <p><span class="tipo-item">Valor:</span>
         <span class="item">{{ guardaResposta.valor | currency }}</span>
      </p>
    </ion-card-content>
  </ion-card>
-->
</ion-content>
