<ion-header>
  <ion-navbar>
    <ion-title>Inserir Cirurgia</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup" (ngSubmit)="cirurgiaInsert(); $event.preventDefault()">
    <ion-item>
      <ion-label stacked>Matrícula*</ion-label>
      <ion-input formControlName="matricula" type="number"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls['matricula'].dirty && formGroup.controls['matricula'].errors" margin-left>Matrícula deve ser entre 8 e 12 dígitos)</p>
    <br/>
    <ion-item>
      <ion-label stacked>Data*</ion-label>
      <ion-input formControlName="data" type="date"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls['data'].dirty && formGroup.controls['data'].errors" margin-left>Data inválida</p>
    <br/>
    <button ion-button block type="submit" [disabled]="formGroup.invalid">Inserir Procedimentos</button>
  </form>

  <br/>

  <form (ngSubmit)="procedimentoInsert(); $event.preventDefault()">
    <ion-list radio-group name="tipo">
      <ion-list-header>Tipo de Procedimento*</ion-list-header>
      <ion-item>
        <ion-label>Principal</ion-label>
        <ion-radio checked="true" value="1"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Secundário</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>
    </ion-list>
  <br/>
    <ion-list radio-group name="premio">
      <ion-list-header>Prêmio do Procedimento*</ion-list-header>
      <ion-item>
        <ion-label>Pontos</ion-label>
        <ion-radio checked="true" value="1"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Valor</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label stacked>Código do procedimento*</ion-label>
      <ion-input name="codigo" type="number"></ion-input>
    </ion-item>
    <br/>
    <button ion-button block type="submit" >Mais Procedimentos</button>
  </form>
  <br/>
  <button class="botao" ion-button block type="submit" >Finalizar</button>

<!--
  <ion-card class="propriedade-card" *ngIf="isTyped">
    <ion-card-title class="titulo-card" >
      <p>Código: {{ guardaResposta.codigo }}</p>
    </ion-card-title>
    <ion-card-content>
      <p><span class="tipo-item">Descrição:</span>
         <span class="item">{{ guardaResposta.descricao }}</span>
      </p>
      <p><span class="tipo-item">Pontos:</span>
         <span class="item">{{ guardaResposta.pontos }}</span>
      </p>
      <p><span class="tipo-item">Valor:</span>
         <span class="item">{{ guardaResposta.valor | currency }}</span>
      </p>
    </ion-card-content>
  </ion-card>
-->
</ion-content>

