<ion-header>
  <ion-navbar>
    <ion-title>Inserir Cirurgia</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup" (ngSubmit)="loadUsuario(); $event.preventDefault()">
    <ion-item>
      <ion-label stacked>Matrícula*</ion-label>
      <ion-input formControlName="matricula" type="number"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls['matricula'].dirty && formGroup.controls['matricula'].errors" margin-left>Matrícula deve conter entre 6 e 9 dígitos</p>
    <br/>
    <ion-item>
      <ion-label stacked>Data*</ion-label>
      <ion-input formControlName="data" type="date"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls['data'].dirty && formGroup.controls['data'].errors" margin-left>Data inválida</p>
    <br/>
    <button ion-button block type="submit" [disabled]="formGroup.invalid">Inserir Procedimentos</button>
  </form>
</ion-content>

