page-referencias {

    h4, ion-card-title {
        text-align: center;
    }

    .cor-card {
        background-color: #e7f0ff;
    }

    .titulo-card{
        font-size: 20px;
    }

    .tipo-item{
        font-size: 18px;
    }

    .item{
        font-size: 14px;
    }

}
