<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Referências</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h4>Pesquisar</h4>
  <form>
    <ion-item>
        <ion-input [(ngModel)]="refs.codigo" name="codigo" clearInput placeholder="Digite o código do procedimento" type="number"></ion-input>
    </ion-item>
    <br/>
    <h6>OU</h6>
    <br/>
    <ion-item>
        <ion-input [(ngModel)]="refs.descricao" name="descricao"  clearInput placeholder="Digite a descrição do procedimento" type=""></ion-input>
    </ion-item>
    <br/>
    <button ion-button block (click)="showBy()">OK</button>
  </form>
  <br/>
  <ng-container *ngIf="(isShowByCodigo == true && isShowByDescricao == false) ||
                (isShowByCodigo == false && isShowByDescricao == true); else showDefault">
      <ng-container *ngIf="isShowByCodigo == true && isShowByDescricao == false; else showTabelaDescricao">
        <ion-card class="propriedade-card" *ngIf="isTyped">
          <ion-card-title class="titulo-card" >
            <p>Código: {{ guardaResposta.codigo }}</p>
          </ion-card-title>
          <ion-card-content>
            <p><span class="tipo-item">Descrição:</span>
               <span class="item">{{ guardaResposta.descricao }}</span>
            </p>
            <p><span class="tipo-item">Pontos:</span>
               <span class="item">{{ guardaResposta.pontos }}</span>
            </p>
            <p><span class="tipo-item">Valor:</span>
               <span class="item">{{ guardaResposta.valor | currency }}</span>
            </p>
          </ion-card-content>
        </ion-card>
      </ng-container>

      <ng-template #showTabelaDescricao>
        <ion-card class="propriedade-card" *ngFor="let item of items">
          <ion-card-title class="titulo-card">
            <p>Código: {{ item.codigo }}</p>
          </ion-card-title>
          <ion-card-content>
            <p><span class="tipo-item">Descrição:</span>
               <span class="item">{{ item.descricao }}</span>
            </p>
            <p><span class="tipo-item">Pontos:</span>
               <span class="item">{{ item.pontos }}</span>
            </p>
            <p><span class="tipo-item">Valor:</span>
               <span class="item">{{ item.valor | currency }}</span>
            </p>
          </ion-card-content>
        </ion-card>
      </ng-template>
  </ng-container>

  <ng-template #showDefault>
  </ng-template>

</ion-content>
